@page
@model IndexModel
@{
    ViewData["Title"] = "Log in";
}

<div class="text-center">
    <h1 class="display-4">Log in</h1>

    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="SearchUsername" class="control-label"></label>
                    <input asp-for="SearchUsername" class="form-control" />
                    <span asp-validation-for="SearchUsername" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SearchPassword" class="control-label"></label>
                    <input asp-for="SearchPassword" class="form-control" />
                    <span asp-validation-for="SearchPassword" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <input type="submit" value="Sign in" class="btn btn-success btn-sm" />
                    <a asp-page="/Users/Create"><input type="button" class="btn btn-success btn-sm" value="Sign up" /></a>
                </div>
            </form>
        </div>
    </div>

</div>
